@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    @font-face {
        font-family: 'Indie Flower';
        src: local('Indie Flower'), local('Indie-Flower'), url('/fonts/IndieFlower-Regular.ttf');
        font-weight: 400;
        font-style: normal;
    }
}